.vscode/**
out/test/**
src/**
assets/*.gif
.gitignore
tsconfig.json
tsconfig-hard.json
tslint.json
**/tsbuildinfo
**/*.map
**/*.ts
.nyc_output
coverage
php-project-for-tests
symfony-2.8-project
symfony-3.4-project
symfony-4.2-project
megacorp-core-bundle
.appveyor.yml
.mocharc.js
