.vscode/**
out/test/**
src/**
assets/*.gif
.gitignore
tsconfig.json
tsconfig-hard.json
tslint.json
**/tsbuildinfo
**/*.map
**/*.ts
.nyc_output
coverage
symfony-project-for-tests
node_modules/lodash/fp
node_modules/lodash/*.js
!node_modules/lodash/lodash.js
php-bin/vendor/nikic/php-parser/test
