<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}symfony 2.8 project{% endblock %}</title>
{% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
