{% extends 'layout.twig' %}

{% block body %}
<p>Main page</p>
<p>globalA.methodA = {{ globalA.methodA }}</p>
<p>globalB = {{ globalB }}</p>
<p>functionA(xx) = {{ functionA('xx') }}</p>
<p>functionB(xx) = {{ functionB('xx') }}</p>
{% endblock %}
