{% extends "base.html.twig" %}

{% block body %}
<p>fixture 11</p>
<p>globalB = {{ globalB }}</p>
<p>functionA() = {{ functionA() }}</p>
<p>{{ 'value' | filterB }}</p>
<p>{{ ('x' is testA) ? 'a' : 'b' }}</p>
{% endblock %}
